.jumbotron {
    padding-top: 2rem;
    background-color: #a2d9ff;
}

#sertifikasi {
    background-color: #a2d9ff;
}

footer {
    background-color: rgba(13, 110, 253, 0.2); 
    padding-bottom: 20px;
}

